* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,
body {
  height: 100%;
  width: 100%;
}
.page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(232, 114, 18);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(230, 236, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(75, 237, 11);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(rgb(87, 87, 237), rgb(47, 47, 231));
}
